<div>
    <h3>Login</h3><br>
    <form action="" [formGroup]="loginForm">
        <label>Username</label>
        <input type="text" class="username" formControlName="username"><br>
        <!--<small *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Username is required</small> -->
        <label>Password</label>
        <input type="password" class="password" formControlName="password"><br>
        <button (click)="loginUserAPI()" [disabled]="!loginForm.valid" class="login">Login</button><br>
    </form>
    <a class="register-page" [routerLink]="['register']">New member?</a>
</div>
