<div>
  <div *ngIf="errToasts">
    <p style="color: red">{{ errToasts }}</p>
  </div>
  <div>
    <p>Filter:</p>
    <div>
      <label>
        Select Date:
        <input
          id="match_date"
          name="match_date"
          type="date"
          min="{{today}}"
          [(ngModel)]="challengeDate"
          (change)="onFilterDate()"
        />
      </label>
    </div>
    <div>
      <label for="start_time">Start Time: </label>
      <select
        id="start_time"
        [(ngModel)]="filter_start_time"
        (change)="onFilterStartTime()"
      >
        <option></option>
        <option *ngFor="let timeSlot of timeSlots" value="{{ timeSlot }}">
          {{ timeSlot }}
        </option>
      </select>
    </div>
    <div>
      <label>
        Location:
        <input
          id="location"
          type="text"
          [(ngModel)]="filter_challenge_location"
          (change)="onFilterLocation()"
        />
      </label>
    </div>
  </div>
  <div *ngIf="challenges?.length > 0">
    <div *ngFor="let challenge of challengeList; index as i">
      <!-- <p>{{challenge._id}}</p> -->
      <p>------------------------------</p>
      <p>Team: {{ challenge.creator?.name }}</p>
      <p>Points: {{ challenge.creator?.points }}</p>
      <p>Date: {{ challenge.match_date }}</p>
      <p>Start Time: {{ challenge.start_time }}</p>
      <p>End Time: {{ challenge.end_time }}</p>
      <p>Ground Name: {{ challenge.ground?.name }}</p>
      <p>Ground Location: {{ challenge.ground?.location }}</p>

      <br />
      <div
        *ngIf="user && !challenge.acceptor && challenges?.length > 0"
        style="display: flex; flex-direction: row"
      >
        <!-- <div *ngIf="user.team == challenge.creator._id">
          <button (click)="editChallenge(challenge._id)">Edit</button>
        </div> -->

        <!-- TODO: Add a Pop-up to check if challenge is really to be deleted -->
        <div *ngIf="user.team == challenge.creator._id">
          <button (click)="deleteChallenge(challenge._id)">DELETE CHALLENGE</button>
        </div> 

        <button
          *ngIf="user.team !== challenge.creator.id"
          (click)="acceptChallenge(challenge._id)"
        >
          Accept
        </button>
      </div>
      <div *ngIf="challenge.acceptor">
        <p>V/s</p>
        <p>Team: {{ challenge.acceptor?.name }}</p>
        <p>Points: {{ challenge.acceptor?.points }}</p>
      </div>
      <p>------------------------------</p>
    </div>
  </div>

  <div *ngIf="challenges?.length == 0">
    <p>No Challenges Found</p>
    <a>Feel free to create a challenge</a>
  </div>

  <div class="fab-btn">
    <button (click)="redirectToCreateChallenge()">Create Challenge</button>
  </div>
</div>
