<div style="display: flex">
  <form [formGroup]="createChallengeForm" (ngSubmit)="submitCreateChallengeForm()">
    <div *ngIf="allGrounds.length > 0">
      <label for="ground">Select Ground: </label>
      <select id="ground" (change)="onGroundSelect($event)" formControlName="ground">
        <option></option>
        <option
          *ngFor="let ground of allGrounds; let i = index"
          id="ground._id"
          value="{{ ground['_id'] }}"
        >
          {{ ground["name"] }}
        </option>
      </select>
    </div>
    <div *ngIf="selectedGround">
      <label for="match_date">Select Challenge Date: </label>
      <input
        id="match_date"
        type="date"
        min="{{today}}"
        formControlName="match_date"
        (change)="onDateSelection($event)"
      />
    </div>
    <div>
      <label for="timeSlot">Select Timeslot</label>
        <div *ngFor="let timeSlot of allTimeSlots">
        <label>
          <input
            type="checkbox"
            [value]="timeSlot"
            [checked]="isTimeSlotSelected(timeSlot)"
            (change)="onTimeSlotSelect(timeSlot)"
            [disabled]="isTimeSlotDisabled(timeSlot)"
          />
          {{ timeSlot }}
        </label>
      </div>
    </div>
    <div>
      <label for="number_of_players">No of Players: </label>
      <select id="number_of_players" formControlName="number_of_players">
        <option value="5">5 v 5</option>
        <option value="6">6 v 6</option>
        <option value="7">7 v 7</option>
        <option value="8">8 v 8</option>
        <option value="9">9 v 9</option>
      </select>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</div>
