<div style="display: flex">
  <form [formGroup]="createChallengeForm" (ngSubmit)="submitCreateChallengeForm()">
    <div *ngIf="allGrounds.length > 0">
      <label for="ground">Select Ground: </label>
      <select id="ground" (change)="onGroundSelect($event)" formControlName="ground">
        <option></option>
        <option
          *ngFor="let ground of allGrounds; let i = index"
          id="ground._id"
          value="{{ ground['_id'] }}"
        >
          {{ ground["name"] }}
        </option>
      </select>
    </div>
    <div *ngIf="selectedGround">
      <label for="match_date">Select Challenge Date: </label>
      <input
        id="match_date"
        type="date"
        formControlName="match_date"
        (change)="onDateSelection($event)"
      />
    </div>
    <div>
      <label for="timeSlot">Select Timeslot</label>
      <div *ngFor="let timeSlot of allTimeSlots">
        <label>
          <input
            type="checkbox"
            [value]="timeSlot"
            (change)="onTimeSlotSelect(timeSlot)"
            [disabled]="isTimeSlotDisabled(timeSlot)"
          />
          {{ timeSlot }}
        </label>
      </div>
    </div>
    <!-- <label for="start_time">Match Start Time: </label>
        <select id="start_time" formControlName="start_time">
      <option value="5:00">5.00 hrs / 5:00 a.m.</option>
      <option value="6:00">6:00 hrs / 6:00 a.m.</option>
      <option value="7:00">7:00 hrs / 7:00 a.m.</option>
      <option value="8:00">8.00 hrs / 8:00 a.m.</option>
      <option value="9:00">9.00 hrs / 9:00 a.m.</option>
      <option value="10:00">10.00 hrs / 10:00 a.m.</option>
      <option value="11:00">11.00 hrs / 11:00 a.m.</option>
      <option value="12:00">12:00 hrs / 12:00 a.m.</option>
      <option value="13:00">13.00 hrs / 1:00 p.m.</option>
      <option value="14:00">14.00 hrs / 2:00 p.m.</option>
      <option value="15:00">15.00 hrs / 3:00 a.m.</option>
      <option value="16:00">16.00 hrs / 4:00 p.m.</option>
      <option value="17:00">17.00 hrs / 5:00 p.m.</option>
      <option value="18:00">18.00 hrs / 6:00 p.m.</option>
      <option value="19:00">19.00 hrs / 7:00 p.m.</option>
      <option value="20:00">20.00 hrs / 8:00 p.m.</option>
      <option value="21:00">21.00 hrs / 9:00 p.m.</option>
      <option value="22:00">22.00 hrs / 10:00 p.m.</option>
      <option value="23:00">23.00 hrs / 11:00 p.m.</option>
    </select>

    <label for="end_time">Match End Time: </label>
    <select id="start_time" formControlName="start_time">
      <option value="5:00">5.00 hrs / 5:00 a.m.</option>
      <option value="6:00">6:00 hrs / 6:00 a.m.</option>
      <option value="7:00">7:00 hrs / 7:00 a.m.</option>
      <option value="8:00">8.00 hrs / 8:00 a.m.</option>
      <option value="9:00">9.00 hrs / 9:00 a.m.</option>
      <option value="10:00">10.00 hrs / 10:00 a.m.</option>
      <option value="11:00">11.00 hrs / 11:00 a.m.</option>
      <option value="12:00">12:00 hrs / 12:00 a.m.</option>
      <option value="13:00">13.00 hrs / 1:00 p.m.</option>
      <option value="14:00">14.00 hrs / 2:00 p.m.</option>
      <option value="15:00">15.00 hrs / 3:00 a.m.</option>
      <option value="16:00">16.00 hrs / 4:00 p.m.</option>
      <option value="17:00">17.00 hrs / 5:00 p.m.</option>
      <option value="18:00">18.00 hrs / 6:00 p.m.</option>
      <option value="19:00">19.00 hrs / 7:00 p.m.</option>
      <option value="20:00">20.00 hrs / 8:00 p.m.</option>
      <option value="21:00">21.00 hrs / 9:00 p.m.</option>
      <option value="22:00">22.00 hrs / 10:00 p.m.</option>
      <option value="23:00">23.00 hrs / 11:00 p.m.</option>
    </select> -->
    <div>
      <label for="number_of_players">No of Players: </label>
      <select id="number_of_players" formControlName="number_of_players">
        <option value="5">5 v 5</option>
        <option value="6">6 v 6</option>
        <option value="7">7 v 7</option>
        <option value="8">8 v 8</option>
        <option value="9">9 v 9</option>
      </select>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</div>
